@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page was created with the objective of creating a virtual notebook that allows you to create, edit, view and search for notes.
    </p>
    <p>This is a page developed in C# Net Core 6.0 using the MVC model with MySQL databases.
        <a>@Html.ActionLink("view the page", "Index", "Note")</a>
    </p>
</div>
